extends layout

block content
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.12.313/pdf_viewer.min.css")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.12.313/pdf.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.12.313/pdf_viewer.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/pdf-lib/1.17.1/pdf-lib.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/downloadjs/1.4.8/download.min.js")

  h1 Acroform Demo

  button(style='margin-bottom: 20px; margin-right: 12px;' id='load-btn' type='button', onclick='loadPDF()') Load PDF
  span(id='load-pdf') Load Button Loads pdf from the db. 
  br

  button(style='margin-bottom: 20px; margin-right: 12px;' id='save-btn' disabled='true' type='button', onclick='savePDF()') Save PDF
  span(id='text') Save Button Saves the pdf to the db.
  br

  div(id='pageContainer' width='100%', height='400px' style='border:2px black solid; ')

  script.
    const { PDFDocument } = PDFLib

    var pdfjsLib = window['pdfjs-dist/build/pdf'];
    var pdfjsViewer = window['pdfjs-dist/web/pdf_viewer'];

    base64Data = ""
    id = ""

    function base64ToArrayBuffer(base64) {
        var binaryString = atob(base64);
        var bytes = new Uint8Array(binaryString.length);
        for (var i = 0; i < binaryString.length; i++) {
            bytes[i] = binaryString.charCodeAt(i);
        }
        return bytes.buffer;
    }

    function arrayBufferToBase64(buffer) {
        var binary = '';
        var bytes = new Uint8Array(buffer);
        var len = bytes.byteLength;
        for (var i = 0; i < len; i++) {
            binary += String.fromCharCode( bytes[ i ] );
        }
        return window.btoa(binary);
    }

    function getSelectedRadioIndex(name) {
      const radioGroup = document.getElementsByName(name);
      for (let i = 0; i < radioGroup.length; i++) {
        if (radioGroup[i].checked) {
          return i;
        }
      }
      return -1; 
    }

    async function loadPDF() {
      document.getElementById("load-pdf").innerHTML = "Loading...";
      document.getElementById("load-btn").disabled = true;

      fetch('/users/pdf').then(function(response) {
        return response.json();
      }).then(function(data) {

        document.getElementById("load-pdf").innerHTML = "Loaded PDF from DB.";
        document.getElementById("save-btn").disabled = false;

        base64Data = data[0]["Pdf"];
        pdfData = atob(data[0]["Pdf"]);

        pdfjsLib.GlobalWorkerOptions.workerSrc = 'https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.12.313/pdf.worker.min.js';
        var container = document.getElementById("pageContainer");
        var eventBus = new pdfjsViewer.EventBus();

        var loadingTask = pdfjsLib.getDocument({data: pdfData});
        loadingTask.promise.then(function(doc) {
          var numPages = doc.numPages;
          var lastPromise; // will be used to chain promises
          lastPromise = doc.getMetadata().then(function (data) {});

          var loadPage = function (pageNum) {
            return doc.getPage(pageNum).then(function (pdfPage) {
              var pdfPageView = new pdfjsViewer.PDFPageView({
                container,
                id: pageNum,
                scale: 1,
                defaultViewport: pdfPage.getViewport({ scale: 1 }),
                eventBus,
                annotationLayerFactory: new pdfjsViewer.DefaultAnnotationLayerFactory(),
                renderInteractiveForms: true,
              });
              pdfPageView.setPdfPage(pdfPage);
              return pdfPageView.draw();
            });
          };

          for (var i = 1; i <= numPages; i++) {
            lastPromise = lastPromise.then(loadPage.bind(null, i));
          }

          return lastPromise;
        }).then(function () {
          setTimeout(() => {
            PDFDocument.load(base64ToArrayBuffer(base64Data)).then(function(pdfDoc) {
              const form = pdfDoc.getForm();
              const dropdowns = document.querySelectorAll('select');
              dropdowns.forEach(dropdown => {
                const dropdownx = form.getDropdown(dropdown.getAttribute('name'));
                const selectedOption = dropdownx.getSelected();
                dropdown.value = selectedOption;
              });
            }, function (reason) {
              console.error(reason);
            });
          }, 500);
        }, function (reason) {
          console.error(reason);
        });
      }).catch(function(err) {
        console.log('Fetch Error :-S', err);
      });
    }

    async function savePDF() {
      const annotationLayer = document.querySelector('#pageContainer');
      const formFieldValues = {};
      document.querySelectorAll('input, select, textarea').forEach(input => {
        const name = input.name;
        const value = input.type === 'radio' ? "uwuw" : input.value;
        formFieldValues[name] = value;
        if (input.type == 'text') {
          console.log(name, value, input.type)
        }
      });

      const formPdfBytes = base64ToArrayBuffer(base64Data);
      const pdfDoc = await PDFDocument.load(formPdfBytes);
      const form = pdfDoc.getForm();

      for (const i in formFieldValues) {
        fieldName = i
        fieldValue = formFieldValues[i]
        const field = form.getField(fieldName);
        if (!field) {
          console.warn(`Warning: field ${fieldName} not found in PDF form.`);
          continue;
        }
        var options, matchingOption;
        switch (field.constructor.name) {
          case 'PDFTextField':
            field.setText(fieldValue);
            break;
          case 'PDFDropdown':
            options = field.getOptions();
            matchingOption = fieldValue;
            field.select(matchingOption);
            break;
          case 'PDFRadioGroup':
            const tempRadio = getSelectedRadioIndex(fieldName);
            if (tempRadio != -1) {
              field.select(field.getOptions()[tempRadio]);
            }
            break;
          default:
            console.warn(`Warning: unsupported field type ${field.constructor.name} in ${fieldName}.`);
        }
      }
      const pdfBytes = await pdfDoc.save();
      var final = arrayBufferToBase64(pdfBytes);
      fetch("/users/save", {
        method: "POST",
        headers: {'Content-Type': 'application/json'}, 
        body: JSON.stringify({"Pdf": final})
      }).then(res => {
        document.getElementById("text").innerHTML = "Data Successfully Uploaded, Reload the page and data persists";
        document.getElementById("save-btn").disabled = true;
        console.log("Request complete! response:", res);
      });
    }
